.headerList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.headerList li {
    float: left;
}

.headerList li:last-child { 
    float:right; 
}

.headerList li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.headerList li a:hover {
    background-color: #111111;
}

.bloodDonorList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 80px;
}

.bloodDonorList li {
    width: 99%;
    padding: 5px;
}

.centeredDiv  {
    width: 70%;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #23463f;
    border-radius: 15px;
    color: white;
}

.donorContainer {
    display: flex;
    border:1px solid #23463f;
    padding: 10px;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.donorContainerLeft {
    flex:2;
}

.donorContainerRight {
    text-align: center;
    padding-top: 20px;
}

.donorContainerRight FontAwesomeIcon {
    cursor: pointer;
}

.bloodGroupLabel {
    color: red;
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #23463f;
    border-radius: 15px;
}

h2 {
    text-align: center;
    color: #277582;
    padding: 20px;
}

label {
    color: #08ffd1;
    font-size: 17px;
}

#log {
    float: right;
}

#createDonor {
    position: absolute; 
    text-decoration: none;
    right: 0;
    border: none;
    margin: 20px;
    padding:10px;
    border-radius: 5px;
    color: blue;
    cursor: pointer;
    background: lightblue;
}

.logOutLink {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background:red
}

.logInLink {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    background:green
}